**
!pom.xml
!src/
!src/**
!scripts/
!scripts/**
!third-party/
!third-party/**
!LICENSE
!FHIR_Testdatengenerator_Vorlage.xlsx
!FHIR_Testdatengenerator_Interpolar_Demo.xlsx
**/__pycache__
**/*.pyc
!docker/
!docker/**
