/.idea/
/.~lock.*
/target/
/*.json
/resources/out.json
/resources/
/bin/
/.classpath
/.project
/.settings/*
!/.settings/
!/.settings/.gitignore
!/.settings/org.eclipse.jdt.core.prefs
!/.settings/org.eclipse.jdt.ui.prefs
/outputLocal/
/outputGlobal/
