#####################################
# Options to control the conversion #
#####################################

###
# If true, then Sub Encounters will have a diagnosis
# of the Super Encounter attached instead of a Data
# Absent Reason. If the Super Encounter has a main
# diagnosis (chief complaint), it is preferred. If
# false, the non-existing diagnoses are supplemented
# by an "unknown" Data Absent Reason.
# Every Encounter needs at least one diagnosis to be
# valid. 
###
ADD_MISSING_DIAGNOSES_FROM_SUPER_ENCOUNTER = false

###
# If true, then Sub Encounters will have the same
# class coding like the Super Encounter attached
# instead of a Data Absent Reason. If false, the
# non-existing class codings are supplemented by an
# "unknown" Data Absent Reason.
# Every Encounter needs at least one class coding
# to be valid. 
###
ADD_MISSING_CLASS_FROM_SUPER_ENCOUNTER = false
