#####################################
# Options to control the conversion #
#####################################

###
# Start index counter for the number that will be
# added on the first element of this type. 
# The only resources type that will not get such an
# automatic generated index counter are Person and
# Encounters of level 1.
# If the value is missing or commented out in this
# map then the  default is 1.
###
# START_ID_CONSENT = 1
# START_ID_DIAGNOSIS = 1
# START_ID_ENCOUNTER_LEVEL_2 = 1
# START_ID_MEDICATION_ADMINISTRATION = 1
# START_ID_MEDICATION_STATEMENT = 1
# START_ID_OBSERVATION_LABORATORY = 1
# START_ID_OBSERVATION_VITAL_SIGNS = 1
# START_ID_PROCEDURE = 1

###
# If true, then Sub Encounters will have a diagnosis
# of the Super Encounter attached instead of a Data
# Absent Reason. If the Super Encounter has a main
# diagnosis (chief complaint), it is preferred. 
# If false, the non-existing diagnoses are
# supplemented by an "unknown" Data Absent Reason.
# Every Encounter needs at least one diagnosis to be
# valid.
# Default is false.
###
ADD_MISSING_DIAGNOSES_FROM_SUPER_ENCOUNTER = false

###
# If true, then Sub Encounters will have the same
# class coding like the Super Encounter attached
# instead of a Data Absent Reason. If false, the
# non-existing class codings are supplemented by an
# "unknown" Data Absent Reason.
# Every Encounter needs at least one class coding
# to be valid. 
# Default is false.
###
ADD_MISSING_CLASS_FROM_SUPER_ENCOUNTER = false
