#####################################
# Options to control the conversion #
#####################################

###
# Start index counter for the number that will be
# added on the first element of this type. 
# The only resources type that will not get such an
# automatic generated index counter are Person and
# Encounters of level 1.
# If the value is missing or commented out in this
# map then the  default is 1.
###
# START_ID_CONSENT = 1
# START_ID_CONDITION = 1
# START_ID_ENCOUNTER_LEVEL_2 = 1
# START_ID_MEDICATION_ADMINISTRATION = 1
# START_ID_MEDICATION_STATEMENT = 1
# START_ID_OBSERVATION_LABORATORY = 1
# START_ID_OBSERVATION_VITAL_SIGNS = 1
# START_ID_PROCEDURE = 1


###
# Enable to set a the optional reference from 
# diagnoses (conditions) to encounters.
# If true then circle references in the data are
# possible, if the encounters have a reference to
# all diagnoses (conditions).
# Some FHIR-Servers don't accept such circle
# references. In this case the corresponding option
# SET_REFERENCE_FROM_ENCOUNTER_TO_DIAGNOSIS_CONDITION
# must be set to false.
# The default here is false.
###
# SET_REFERENCE_FROM_DIAGNOSIS_CONDITION_TO_ENCOUNTER = true
        

### 
# Enable to set the references from the encounters to
# the diagnoses (condition).
# If true then circle references in the data are
# possible, if diagnoses (conditions) have a
# reference to their encounter.
# Some FHIR-Servers don't accept such circle references.
# In this case the corresponding option 
# SET_REFERENCE_FROM_DIAGNOSIS_CONDITION_TO_ENCOUNTER
# must be set to false.
# The default here is true.
###
# SET_REFERENCE_FROM_ENCOUNTER_TO_DIAGNOSIS_CONDITION = false


###
# Enable to set a the optional reference from 
# procedures (diagnosis) to encounters.
# If true then circle references in the data are
# possible, if the encounters have a reference to
# all procedures (conditions).
# Some FHIR-Servers don't accept such circle
# references. In this case the corresponding option
# SET_REFERENCE_FROM_ENCOUNTER_TO_PROCEDURE_CONDITION
# must be set to false.
# The default here is false.
###
# SET_REFERENCE_FROM_PROCEDURE_CONDITION_TO_ENCOUNTER = true
        

### 
# Enable to set the references from the encounters to
# the procedures (diagnosis).
# If true then circle references in the data are
# possible, if the procedures (conditions) have a
# reference to their encounter.
# Some FHIR-Servers don't accept such circle references.
# In this case the corresponding option 
# SET_REFERENCE_FROM_PROCEDURE_CONDITION_TO_ENCOUNTER
# must be set to false.
# The default here is true.
###
# SET_REFERENCE_FROM_ENCOUNTER_TO_PROCEDURE_CONDITION = false


###
# If true, then Sub Encounters will have a diagnosis
# of the Super Encounter attached instead of a Data
# Absent Reason. If the Super Encounter has a main
# diagnosis (chief complaint), it is preferred. 
# If false, the non-existing diagnoses are
# supplemented by an "unknown" Data Absent Reason.
# Every Encounter needs at least one diagnosis to be
# valid.
# Default is false.
###
# ADD_MISSING_DIAGNOSES_FROM_SUPER_ENCOUNTER = true


###
# If true, then Sub Encounters will have the same
# class coding like the Super Encounter attached
# instead of a Data Absent Reason. If false, the
# non-existing class codings are supplemented by an
# "unknown" Data Absent Reason.
# Every Encounter needs at least one class coding
# to be valid. 
# Default is false.
###
# ADD_MISSING_CLASS_FROM_SUPER_ENCOUNTER = true
